p
{
    font:10pt Arial;
}

pre
{
    background-color: #EBECE4;
    border-radius: 3px;
    white-space: pre-wrap;
    border: 1px solid gray;
}

.heading
{
    font-family: 'Open Sans', serif;
    font-size: 22pt;
    font-weight: bold;
}

.subheading
{
    font-family: 'Open Sans', serif; 
    font-size: 16pt;
    /* font-weight: bold; */
}

.subsubheading
{
    font-family: 'Open Sans', serif;
    font-size: 11pt;
}

img
{
    -webkit-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.main
{
    width:1000px;
    background-color:white;
    margin-top: 0px;
    margin-left: auto;
    margin-right:auto;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.regularHeader
{
    font:16pt Playfair Display;
    margin-top:20px;
}

td
{
    padding-top: 5px;
 padding-bottom: 5px;
}

.text
{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    text-align:justify;
    margin-left:20px;
    margin-right:20px;
}

a
{
    color:black; text-decoration:underline;
}

a:hover
{
    color:green;
    text-decoration:underline;
}

.center
{
    text-align: center;
}
